<%= simple_form_for(@assessment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :score %>
    <%= f.input :date, input_html: { class: 'datepicker' }, placeholder: "YYYY-MM-DD", as: :string, required:
        false %>
    <%= f.input :subject %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>$('.datepicker').datepicker({ 'dateFormat': 'yy-mm-dd' });</script>
