<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" style="width: 100%;"><h1 align="center">Assessments</h1></div>
  </div>
</div>

<table id="assessmentTable" class="display hover order-column compact" width="100%">
  <thead>
    <tr>
      <th> Name </th>
      <th> Category </th>
      <th> Level </th>
      <th> Assessment Type </th>
      <th> Score </th>
      <th> Assessment Date </th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= link_to assessment.name, assessment %></td>
        <td><%= assessment.category %></td>
        <td><%= assessment.level %></td>
        <td><%= assessment.assessment_type %></td>
        <td><%= assessment.score %></td>
        <td><%= assessment.date %></td>
        <td class="text-right">
          <%= link_to edit_assessment_path(assessment)do %>
              <button class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
          <% end %>
          <%= link_to assessment_path(assessment), method: :delete, data: { confirm: 'Are you sure you want to delete this
          assessment?'
          } do %>
              <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to new_assessment_path do %>
    <button type="button" class="btn btn-success">New Assessment</button>
<% end %>
<%= link_to root_path do %>
    <button type="button" class="btn btn-primary">Home</button>
<% end %>

<p></p>

<script>
  // Because turbolinks gets the page from the cache instead of making another
  // GET request, functionality of DataTables is broken.  DataTables thinks it
  // needs to recreate the table, causing a duplicate table to be created and the
  // modal appears on the screen but does not repsond to the close buttons. The
  // solution is when reading from the turbolinks cache to destroy the old
  // DataTables table.
  $(document).ready(function(){
    var assessmentTable;

    document.addEventListener("turbolinks:load", function() {
      assessmentTable = $('#assessmentTable').DataTable();
    });

    document.addEventListener("turbolinks:before-cache", function() {
      if ($('#assessmentTable_wrapper').length == 1)
        assessmentTable.destroy();
    });
  });
</script>
