<p>
  <strong>Score:</strong>
  <%= @assessment.score %>
</p>

<p>
  <strong>Assessment date:</strong>
  <%= @assessment.date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @assessment.subject %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back to Assessments', assessments_path %>
