<div class="row index-header">
  <div class="col-md-12 title">
    <% if current_user.tutor? %>
      <span> My Tutoring Sessions </span>
    <% elsif @student %>
      <span> Tutoring Sessions for <%= link_to @tutor.name, tutor_path(@tutor.id) %> and <%= link_to @student.name, tutor_path(@student.id) %> </span>
    <% else %>
      <span> Tutoring Sessions for <%= link_to @tutor.name, tutor_path(@tutor.id) %> </span>
    <% end %>
  </div>
</div>

<table id="tutoringSessionTable" class="display hover order-column compact" width="100%">
  <thead>
    <tr>
      <th> Student First Name </th>
      <th> Student Last Name </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Total Hours </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutoring_sessions.each do |session| %>
      <% student = Student.find(Match.find(session.match_id).student_id) %>
      <tr>
        <% if current_user.tutor? %>
          <td> <%= student.first_name %> </td>
        <% else %>
          <td><%= link_to student.first_name, student_path(student.id) %> </td>
        <% end %>
        <td><%= student.last_name %> </td>
        <td><%= session.start_date %> </td>
        <td><%= session.end_date %> </td>
        <td><%= session.hours %> </td>
        <td class="text-right">
          <%= link_to tutoring_session_path(session)do %>
            <button class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-search"></span>
              View
            </button>
          <% end %>
          <%= link_to edit_tutoring_session_path(session)do %>
            <button class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            </button>
          <% end %>
          <%= link_to tutoring_session_path(session), method: :delete, data: { confirm: "Are you sure you want to delete this tutoring session with #{student.name}?" } do %>
            <button class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', root_path %> |
<% if current_user.tutor? %>
  <%= link_to "New Tutoring Session", new_tutoring_session_path(tutor_id: @tutor.id) %>
<% elsif @student %>
  <%= link_to "New Tutoring Session For #{@tutor.first_name} and #{@student.first_name}", new_tutoring_session_path(tutor_id: @tutor.id, student_id: @student.id) %>
<% else %>
  <%= link_to "New Tutoring Session For #{@tutor.name}", new_tutoring_session_path(tutor_id: @tutor.id) %>
<% end %>

<script>
// Because turbolinks gets the page from the cache instead of making another
// GET request, functionality of DataTables is broken.  DataTables thinks it
// needs to recreate the table, causing a duplicate table to be created and the
// modal appears on the screen but does not repsond to the close buttons. The
// solution is when reading from the turbolinks cache to destroy the old
// DataTables table.
$(document).ready(function(){
  var tutoringSessionTable;

  document.addEventListener("turbolinks:load", function() {
    tutoringSessionTable = $('#tutoringSessionTable').DataTable();
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#tutoringSessionTable_wrapper').length == 1)
      tutoringSessionTable.destroy();
  });
});
</script>
