<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h1 class="index-header text-center">
              Tutoring Session
              <% if !current_user.tutor? %>
                <br> <small> For <%= link_to @tutor.name, @tutor %> </small>
              <% end %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row show-button-row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-6">
        <%= link_to edit_tutoring_session_path(@tutoring_session) do %>
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span> Edit
          </button>
        <% end %>
      </div>

      <div class="col-md-6 text-right">
        <%= link_to tutoring_session_path(@tutoring_session), method: :delete, data: { confirm: 'Are you sure you want to delete this tutoring session?' } do %>
          <button class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <% if current_user.tutor? %>
                  <h3> With Student: <%= @student.name %> </h3>
                <% else %>
                  <h3> With Student: <%= link_to @student.name, student_path(@student.id) %> </h3>
                <% end %>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-md-6 text-center">
                <h4> Location </h4>
                <p> <%= @tutoring_session.location %> </p>
              </div>
              <div class="col-md-6 text-center">
                <h4> Hours </h4>
                <p> <%= @tutoring_session.hours %> </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 text-center">
                <h4> Start Date </h4>
                <p> <%= @tutoring_session.start_date.strftime('%a, %B %d %Y') %> </p>
              </div>
              <div class="col-md-6 text-center">
                <h4> End Date </h4>
                <p> <%= @tutoring_session.end_date.strftime('%a, %B %d %Y') %> </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <h4> Comment </h4>
                <p> <%= @tutoring_session.session_comment %> <p/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
