<p>
  <strong>Location:</strong>
  <%= @tutoring_session.location %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @tutoring_session.hours %>
</p>

<p>
  <strong>From Date:</strong>
  <%= @tutoring_session.start_date %>
</p>

<p>
  <strong>To Date:</strong>
  <%= @tutoring_session.end_date %>
</p>

<p>
  <strong>Session Comments:</strong>
  <%= @tutoring_session.session_comment %>
</p>

<%= link_to 'Edit', edit_tutoring_session_path(@tutoring_session) %> |
<%= link_to 'Back to All Tutoring Sessions', tutoring_sessions_path %>
