<div class="row index-header">
  <div class="col-md-12 title">
    <span> Students </span>
  </div>
</div>

<table id="studentTable" class="display hover order-column compact" width="100%">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email Address </th>
      <th> Home Phone </th>
      <th> Cell Phone </th>
      <th> Work Phone </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.first_name, student_path(student.id) %> </td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.home_phone %></td>
        <td><%= student.cell_phone %></td>
        <td><%= student.work_phone %></td>
        <td class="text-right">
          <%= link_to edit_student_path(student)do %>
            <button class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          <% end %>
          <%= link_to student_path(student), method: :delete, data: { confirm: 'Are you sure you want to delete this student?' } do %>
            <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', root_path %>
<% if @show_new_student_link %> | <%= link_to 'New Student', new_student_path %> <% end %>

<script>
// Because turbolinks gets the page from the cache instead of making another
// GET request, functionality of DataTables is broken.  DataTables thinks it
// needs to recreate the table, causing a duplicate table to be created and the
// modal appears on the screen but does not repsond to the close buttons. The
// solution is when reading from the turbolinks cache to destroy the old
// DataTables table.
$(document).ready(function(){
  var studentTable;

  document.addEventListener("turbolinks:load", function() {
    studentTable = $('#studentTable').DataTable();
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#studentTable_wrapper').length == 1)
      studentTable.destroy();
  });
});
</script>
