<p id="notice"><%= notice %></p>

<div class="row index-header">
  <div class="col-md-12 title">
    Students
  </div>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student_path(student),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %> |
<%= link_to 'New Student', new_student_path %>
