<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong><%= link_to 'Assessments', assessments_path %></strong>
</p>

<p>
  <strong>Tutor:</strong>
  <%= form_tag('set_tutor', method: 'put') do %>
    <% if !@match.nil? %>
      <%= select_tag(:tutor_id, options_for_select(tutor_options, @match.tutor_id)) %>
    <% else %>
      <%= select_tag(:tutor_id, options_for_select(tutor_options)) %>
    <% end %>
    <%= submit_tag('Set Tutor') %>
    <%= hidden_field_tag(:student_id, @student.id) %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% end %>
</p>

<p>
  <strong>Coordinator:</strong>
  <% if !@enrollment.nil? %>
    <%= Coordinator.find(@enrollment.coordinator_id).name %>
  <% else %>
    No Coordinator
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
