<h2>Tutors</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @tutors.each do |tutor| %>
    <tr>
      <td><%= tutor.first_name %> <%= tutor.last_name %></td>
      <td><%= link_to 'Show', tutor_path(tutor) %></td>
      <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
      <td><%= link_to 'Destroy', tutor_path(tutor),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>
