<div class="row index-header">
  <div class="col-md-12 title">
    Tutors
  </div>
</div>

<table id="tutorTable" class="display hover order-column compact" width="100%">
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Status </th>
      <th> Home Phone </th>
      <th> Cell Phone </th>
      <th> Email Preferred</th>
      <th></th>
    </tr>
  </thead>

  <% @tutors.each do |tutor| %>
    <tr>
      <td><%= link_to tutor.first_name, tutor_path(tutor.id) %></td>
      <td><%= tutor.last_name %></td>
      <td><%= tutor.status %></td>
      <td><%= tutor.home_phone%></td>
      <td><%= tutor.cell_phone%></td>
      <td><%= tutor.email_preferred%></td>
      <td class="text-right">
        <%= link_to edit_tutor_path(tutor)do %>
          <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        <% end %>
        <%= link_to tutor_path(tutor), method: :delete, data: { confirm: 'Are you sure you want to delete this tutor?' } do %>
          <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %> |
<%= link_to 'New Tutor', new_tutor_path %>

<script>
// Because turbolinks gets the page from the cache instead of making another
// GET request, functionality of DataTables is broken.  DataTables thinks it
// needs to recreate the table, causing a duplicate table to be created and the
// modal appears on the screen but does not repsond to the close buttons. The
// solution is when reading from the turbolinks cache to destroy the old
// DataTables table.
$(document).ready(function(){
  var tutorTable;

  document.addEventListener("turbolinks:load", function() {
    tutorTable = $('#tutorTable').DataTable();
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#tutorTable_wrapper').length == 1)
      tutorTable.destroy();
  });
});
</script>
