<p>
  <strong>Name:</strong>
  <%= @tutor.first_name %> <%= @tutor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong>Coordinator:</strong>
  <% if !@coordinator.nil? %>
    <%= @coordinator.name %>
  <% else %>
    No Coordinator
  <% end %>
</p>

<p>
  <strong>Students:</strong>
  <% if !@students.empty? %>
    <table>
      <% @students.each do |s| %>
        <tr>
          <td>
            <%= s.name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No Students
  <% end %>
</p>

<p>
  <strong>Add Student:</strong>
  <% if !student_options.empty? %>
    <%= form_tag('add_student', method: 'put') do %>
      <%= select_tag(:student_id, options_for_select(student_options)) %>
      <%= submit_tag('Add Student') %>
      <%= hidden_field_tag(:tutor_id, @tutor.id) %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% end %>
  <% else %>
    No unmatched students
  <% end %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
