<% if @coordinator.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@coordinator.errors.count, "error") %> prohibited
      this coordinator from being saved:
    </h2>
    <ul>
    <% @coordinator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form role="form">

  <section id="contactInfo">
    <h4>Information</h4>
    <hr>
    <div class="row">
      <div class ="col-md-6">
        <%= f.input :first_name, maxlength: 50, required: true %>
      </div>

      <div class ="col-md-6">
        <%= f.input :last_name, maxlength: 50, required: true %>
      </div>

      <div class = "col-md-6"
        <div class="form-group">
          <%= f.input :date_of_birth, input_html: { class: 'datepicker' }, placeholder: "YYYY-MM-DD", required: true %>
        </div>
      </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :email, maxlength: 255, required: true, input_html: { class: "mask_email" } %>
      </div>

      <div class="col-md-6">
        <%= f.input :phone_number, maxlength: 14, placeholder: "(###) ###-####", required: true, input_html: { class: "mask_phone" } %>
      </div>
    </div>
  </section>

  <section>
    <%= f.button :submit %>
  </section>
</form>

<script>$('.datepicker').datepicker({ 'dateFormat': 'yy-mm-dd' });</script>
<script>
  $('.mask_phone').inputmask("(999) 999-9999", { "placeholder": "#" });
  $('.mask_email').inputmask({ alias: "email" });
</script>
