<%= simple_form_for(@coordinator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date_of_birth, input_html: { class: 'datepicker' }, placeholder: "YYYY-MM-DD", as: :string, required:
        false %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>$('.datepicker').datepicker({ 'dateFormat': 'yy-mm-dd' });</script>
