<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coordinator.name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @coordinator.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coordinator.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @coordinator.phone_number %>
</p>
<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back to Coordinators', coordinators_path %>
