<p>
  <strong>Name:</strong>
  <%= @coordinator.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coordinator.email %>
</p>

<p>
  <strong>Tutors:</strong>
  <% if !@tutors.empty? %>
    <table>
      <% @tutors.each do |t| %>
        <tr>
          <td>
            <%= t.name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No Tutors
  <% end %>
</p>

<p>
  <strong>Students:</strong>
  <% if !@students.empty? %>
    <table>
      <% @students.each do |s| %>
        <tr>
          <td>
            <%= s.name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No Students
  <% end %>
</p>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
