<h1>Welcome</h1>

<h2> Students </h2>
<%= link_to 'All students', controller: 'students' %>
<%= link_to 'New student', new_student_path %>

<h2> Tutors </h2>
<%= link_to 'All tutors', controller: 'tutors' %>
<%= link_to 'New tutor', new_tutor_path %>

<h2> Coordinators </h2>
<%= link_to 'All coordinators', controller: 'coordinators' %>
<%= link_to 'New coordinator', new_coordinator_path %>

<h2> Affiliates </h2>
<%= link_to 'All affiliates', controller: 'affiliates' %>
<%= link_to 'New affiliate', new_affiliate_path %>
