<div class="dashboard">
  <div class='row centered'>
    <h1> Welcome </h1>
  </div>

  <div class='row centered'>
    <% if @see_tutoring_sessions %>
      <div class='col-md-2 text-center'>
        <%= link_to 'My Sessions', { controller: 'tutoring_sessions', tutor_id: @tutor_id }, class: 'button' %>
      </div>
    <% end %>

    <% if @see_students %>
      <div class='col-md-2 text-center'>
        <%= link_to 'Students', { controller: 'students' }, class: 'button' %>
      </div>
    <% end %>

    <% if @see_tutors %>
      <div class='col-md-2 text-center'>
        <%= link_to 'Tutors', { controller: 'tutors' }, class: 'button' %>
      </div>
    <% end %>

    <% if @see_matches %>
      <div class='col-md-2 text-center'>
        <%= link_to 'Matches', { controller: 'matches' }, class: 'button' %>
      </div>
    <% end %>

    <% if @see_coordinators %>
      <div class='col-md-2 text-center'>
        <%= link_to 'Coordinators', { controller: 'coordinators' }, class: 'button' %>
      </div>
    <% end %>

    <% if @see_affiliates %>
      <div class='col-md-2 text-center'>
        <%= link_to 'Affiliates', { controller: 'affiliates' }, class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
