<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3><%= @tag.name %><br><small>Tagged students and tutors.</small></h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <% if !@tagged_students.empty? || !@tagged_tutors.empty? %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Tutors</h3>
              </div>
              <div class="panel-body">
                <% if !@tagged_tutors.empty? %>
                  <div class="list-group">
                    <% @tagged_tutors.each do |t| %>
                      <%= link_to tutor_path(t), class: "list-group-item" do %>
                        <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span>
                        <%= t.name %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <p class="text-center">No tutors with tag "<%= @tag.name %>" found.</p>
                <% end %>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
              </div>
              <div class="panel-body">
                <% if !@tagged_students.empty? %>
                  <div class="list-group">
                    <% @tagged_students.each do |t| %>
                      <%= link_to student_path(t), class: "list-group-item" do %>
                        <span class="badge"><span class="glyphicon glyphicon-eye-open"></span></span>
                        <%= t.name %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <p class="text-center">No students with tag "<%= @tag.name %>" found.</p>
                <% end %>
              </div>
            </div>
          <% else %>
            <h5 class="text-center">No students or tutors with tag "<%= @tag.name %>" found.</h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
