<% if !@tags.empty? %>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top 10 Tags by Count</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @tags.sort {|a,b| b.count <=> a.count}[0..9].each do |tag| %>
              <%= link_to tag, {:remote => true, class: "list-group-item", 'data-toggle' =>  "modal", 'data-target' => '#view-taggings'} do %>
                <span class="badge"><%= tag.count %></span>
                <%= tag.name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-7">
              <h3 class="panel-title">Tag Management</h3>
            </div>
            <div class="col col-xs-5 text-right">
              <%= simple_form_for :tag, url: tags_path do |f| %>
                <div class="row">
                  <div class="col-md-9">
                    <%= f.input :name, placeholder: "Add a new tag here...", label: false %>
                  </div>
                  <div class="col-md-3">
                    <%= f.button :submit, "Create Tag", class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table id="tagTable" class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th>Name</th>
                <th class="text-center">Created at</th>
                <th class="text-center">Updated at</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @tags.order(:name).each do |tag| %>
                <tr>
                  <td>
                    <%= link_to tag, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#view-taggings'} do %>
                      <button class="btn btn-default btn-block"><%= tag.name %></button>
                    <% end %>
                  </td>
                  <td><%= tag.created_at.strftime('%D') %></td>
                  <td><%= tag.updated_at.strftime('%D') %></td>
                  <td class="text-center">
                    <%= link_to edit_tag_path(tag), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit-tag'} do %>
                      <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                    <% end %>
                    <%= link_to tag_path(tag), method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } do %>
                      <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Because turbolinks gets the page from the cache instead of making another
    // GET request, functionality of DataTables and bootstrap's modal are broken.
    // DataTables thinks it needs to recreate the table, causing a duplicate table
    // to be created and the modal appears on the screen but does not repsond to
    // the close buttons. The solution is when reading from the turbolinks cache
    //  1) destroy the old DataTables table
    //  2) manually remove the modal and supporting elements
    $(document).ready(function(){
      var tagTable;

      document.addEventListener("turbolinks:load", function() {
        tagTable = $('#tagTable').DataTable();
      });

      document.addEventListener("turbolinks:before-cache", function() {
        if ($('#tagTable_wrapper').length == 1)
          tagTable.destroy();

        $('#view-taggings').removeClass('in');
        $('body').removeClass('modal-open');
        $('body').css('padding-right', '');
        $('.modal-backdrop').remove();
        $('#view-taggings').hide();
      });
    });
  </script>
<% else %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="text-center">No tags found! Create one now.</h4>
      <%= simple_form_for :tag, url: tags_path do |f| %>
        <div class="row">
          <div class="col-md-9">
            <%= f.input :name, placeholder: "Add a new tag here...", label: false %>
          </div>
          <div class="col-md-3">
            <%= f.button :submit, "Create Tag", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="edit-tag" class="modal fade" role="dialog" aria-labelledby="editTag" aria-hidden="true"></div>
<div id="view-taggings" class="modal fade" role="dialog" aria-labelledby="viewTaggings" aria-hidden="true"></div>
