<p id="notice"><%= notice %></p>

<div class="row index-header">
  <div class="col-md-12 title">
    Matches
  </div>
</div>

<table id="matchTable" class="display hover order-column compact" width="100%">
  <thead>
    <tr>
      <th> Student First Name </th>
      <th> Student Last Name </th>
      <th> Tutor First Name </th>
      <th> Tutor Last Name </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |m| %>
      <tr>
        <td> <%= link_to m.student.first_name, student_path(m.student.id) %> </td>
        <td> <%= m.student.last_name %> </td>
        <td> <%= link_to m.tutor.first_name, tutor_path(m.tutor.id) %> </td>
        <td> <%= m.tutor.last_name %> </td>
        <td> <%= m.start %> </td>
        <td> <%= m.end %> </td>
        <td class="text-right">
          <%= link_to tutoring_sessions_path(match_id: m)do %>
            <button class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-search"></span>
              See Sessions
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', root_path %>

<script>
// Because turbolinks gets the page from the cache instead of making another
// GET request, functionality of DataTables is broken.  DataTables thinks it
// needs to recreate the table, causing a duplicate table to be created and the
// modal appears on the screen but does not repsond to the close buttons. The
// solution is when reading from the turbolinks cache to destroy the old
// DataTables table.
$(document).ready(function(){
  var matchTable;

  document.addEventListener("turbolinks:load", function() {
    matchTable = $('#matchTable').DataTable();
  });

  document.addEventListener("turbolinks:before-cache", function() {
    if ($('#matchTable_wrapper').length == 1)
      matchTable.destroy();
  });
});
</script>
