<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @exam.score %>
</p>

<p>
  <strong>Exam date:</strong>
  <%= @exam.exam_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @exam.subject %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back to Exams', exams_path %>
